@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
    gap: 50px;
}

.side-bar {
    background-color: brown;
    height: 100vh;
    padding-top: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 80px 290px 150px;
    align-items: start;
    justify-content: center;
    font-size: 28px;
    color: white;
}

.side-bar ul {
    list-style: none;
    display: grid;
    gap: 15px;
    font-size: 18px;
}

.header { 
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
}

.main-content {
    background-color: bisque;
    grid-column: 2 / 3;
    grid-row: 2 / 3; 
}